:root {
    --font: 'Lilita One', cursive;
    --bg-color: #070A52;
    --primary-color: #D21312;
}

body {
    min-height: 100vh;
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 6em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.box {
    border: solid 2px var(--primary-color);
    display: inline-block;
    padding: 10px;
    margin: 20px;
    font-size: 3em;
}

.message {
    font-size: 1.5em;
    margin-top: 20px;
}

.new-game {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    color: va(--bg-color);
    text-transform: uppercase;
}

.new-game:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.5ms;
}