:root {
    --font: 'Lilita One', cursive;
    --bg-color: #070A52;
    --primary-color: #D21312;
}

body {
    min-height: 100vh;
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.message {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: solid 2px var(--primary-color);
    display: inline-block;
    padding: 10px;
    margin: 20px;
    font-size: 3em;
}